body{
  margin: 0;
  padding: 0;
  color: white;
}
.outer{
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.time{
  font-size: 30px;
  background-color: red;
  padding: 10px 20px;
}

.btn{
  display: flex;
  gap: 20px;
  
}
button{
  font-size: 20px;
  padding: 5px 15px;
  border:none;
  border-radius: 5px;
}

