.grid{
    border: 2px solid;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px ;
}

.box{
    display: flex;
    gap:10px;
}

.Buttons{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
}

