@import "tailwindcss";
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h3{
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: 50px;
    font-size: 50px;
    background-color: #fff;
    color: #000;
}

.btn{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    padding: 20px;
}

.btn button{
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}


