*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  background-color: #111;
}
.main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}

.card{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 250px;
  height: 300px;
  background-color: #fff;
  color:#111;
  border: none;
  border-radius: 30px;
  padding: 10px;
}

.card .top{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px;
}

.card .top img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border: 1px solid black;
  padding: 5px;
  border-radius: 50%;
}

.card .top button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px ;
  background-color: transparent;
  border: 0.5px solid #444;
  border-radius: 5px;
}

.card .top button:hover{
  background-color: #111;
  color: #fff;
}

.card .center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 5px;
  gap: 5px;
  margin-top: 20px;
}
.card .center h4{
  font-weight: 500;
  font-size: 16px;
}

.card .center span{
  font-size: 10px;
  color: #555;
  font-weight: 400;
}

.card .center div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
}

.card .center div h4{
  border: 0.5px solid transparent;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: #d8d8d8;
  
}

.card .bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px;
  margin-top: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid;
}

.card .bottom p{
  font-size: 10px;
  font-weight: 300;
}

.card .bottom h4{
  font-weight: 500;
}

.card .bottom button {
  padding: 5px 20px;
  background-color: #111;
  color: #fff;
  border: 0.5px solid black;
  border-radius: 5px;
}

.card .bottom button:hover{
  background-color: white;
  color: #111;
}